.project1 {
  background-image: url("../img/code.jpg");

  background-position: center;
  color: rgb(187, 44, 44);
}

@media screen and (min-width: 320px) {
  .col-lg-4 {
    max-height: fit-content;
    max-width: fit-content;
  }
}
