.project1 {
  background-image: url("../img/code.jpg");

  background-position: center;
  color: rgb(187, 44, 44);
}

@media (min-width: 320px) {
  .jumbotron {
    background-image: url(../img/code2.jpg);
    height: 100vh;
  }
}
